.fixToolBar{position:fixed;right:10px;width:78px;height:auto;}
.fixToolBar li{height:66px;display:block;position:relative;}
.fixToolBar li.disabled:after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	cursor: not-allowed;
}
.fixToolBar li.disabled a,.fixToolBar li.disabled a:hover{
	background:#aaaaaa;
	color:#ccc;
}
.fixToolBar li a{display:block;text-align:center;padding-top: 9px;height:57px;background:#46527C;color:#feffff;}
.fixToolBar li a:hover{background:#2F3A67;}
.fixToolBar li a p{font-size:14px;font-family:simsun;margin:0;}